/** 
    Author: Samantha Bebout
    Course: 10865 
    Lesson: 14
**/
body{
    background: darkcyan url(../images/background.jpeg) no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
}
